.container {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #0070f3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}